
html
	height 100%
	padding 0
	margin 0
body
	width 100%
	height 100%
	margin 0
	padding 0
	font-family Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif
	font-size 11px
	&.first
		#selector
			display block
		#main
			#buts
				display block;
		#menu
			#downbut
				display none
	#two
		position fixed
		width 100vw
		height 100vh
		top 0
		left 0
		z-index 0
	#three
		position fixed
		width 100vw
		height 100vh
		top 0
		left 0
		z-index 1
	#main
		position relative
		width 100%
		height 200vh
		z-index 2
		#buts
			display none
			position absolute
			top 0
			left 0
			.block
				position absolute
				cursor pointer
		#title
			width 100vw
			text-align center
			position fixed
			opacity 0
			bottom 30px
			transition opacity 0.14s
			&.active
				opacity 1
			
	#selector
		z-index 4
		opacity 0
		display none
		transition opacity 0.15s
		position absolute
		top 0
		left 0
		width 150px
		background #ffffff
		border solid 2px #000000
		font-size 10px
		line-height 12px
		padding 10px
		pointer-events none
		margin-top -25px
		> div
			.help
				display inline
				&.en
					display none
			.content
				display none
			&.ready
				.help
					display none !important
				.content
					display block
		ul
			list-style-type none
			margin 0
			padding 0
			li
				display inline-block
				margin-right 10px
				margin-bottom 10px

		#animateToggle
			.x
				display none
			.space
				display inline
			&.active
				.x
					display inline
				.space
					display none
			> span
				pointer-events none
		&.active
			opacity 1
		&.left
			margin-left -190px
			&:after, &:before
				left 100%
				top 50%
			&:after
				border-left-color #ffffff
			&:before 
				border-left-color #000000
		&.right
			&:after, &:before
				right 100%
				top 50%
			&:after
				border-right-color #ffffff
			&:before 
				border-right-color #000000
		&:after, &:before
			border solid transparent
			content " "
			height 0
			width 0
			position absolute
			pointer-events none
		&:after
			border-width 10px
			margin-top -10px
		&:before 
			border-width 13px
			margin-top -13px
	#timer
		opacity 0
		position absolute
		z-index 5
		pointer-events none
		width 30px
		height 30px
		top 0
		left 0
		transition opacity 0.3s
		&.active
			opacity 1
		canvas
			width 30px
			height 30px
	#cursors
		z-index 6
		position absolute
		top 0
		left 0
		width 100vw
		height 100vh
		pointer-events none
		.cursor
			position absolute
			top 0
			left 0
			width 20px
			height 20px
			background url(../media/cursors.png)
			background-size contain
			font-size 8px
	#menu
		z-index 9
		position fixed
		top 0
		left 0
		font-size 9px
		#downbut
			&.active
				display inline
		a
			color #000000
			text-decoration none
			.buthover
				display none
			&:hover
				.buthover
					display inline
		p
			margin 0
			padding 0
		#formats
			display none
			&.active
				display block
		&.downloadActive
			#formats
				display block
	#info
		opacity 0
		top 100vh
		z-index 10
		line-height 18px
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		position fixed
		width 100%
		height 100%
		background-color rgba(0,0,0,0.8)
		color #ffffff
		overflow-x scroll
		overflow-y scroll
		cursor pointer
		transition opacity 0.4s, top 0.1s 0.5s
		&.active
			top 0vh
			opacity 1
			transition opacity 0.4s
		.content
			padding 30px
			width 500px
			padding-bottom 60px
			&.en
				display none

body.en
	.en
		display block !important
	.cat
		display none !important

@media only screen and (min-device-width : 414px) and (max-device-width : 736px)
	body
		#info
			font-size 10px
			-webkit-overflow-scrolling: touch;
			.content
				padding 10px
				width calc( 100% - 20px )
		#menu
			#downbut
				&.active
					display none
	

@media only screen and (min-device-width : 375px) and (max-device-width : 667px)
	body
		#info
			font-size 10px
			-webkit-overflow-scrolling: touch;
			.content
				padding 10px
				width calc( 100% - 20px )
		#menu
			#downbut
				&.active
					display none

@media only screen and (min-device-width : 320px) and (max-device-width : 568px)
	body
		&.first
			#selector
				display none
			#menu
				#downbut
					display none
		#info
			font-size 10px
			-webkit-overflow-scrolling: touch;
			.content
				padding 10px
				width calc( 100% - 20px )
		#menu
			#downbut
				display none


	