doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Eina 50 anys
    link(rel='stylesheet', id='mainStylesheet' href='css/main.css')
  body.first
    #two
    #three
    #main
        #buts
        #title -----------------------------------------<br />EINA 50 ANYS | #<span id="logoNum"></span> | <span id="dateNum"></span><br/>-----------------------------------------
    #selector.left
        div#textureDescription <span class='help en'>Click to change texture</span> <span class='content'>Texture : <span id='name'>Name</span></span><span class='help cat'>Clic per canviar textura</span>
        div#animateDescription <span class='help en'>Long press to animate</span> <span class='content'>Animate : <span id='animate'>No</span></span><span class='help cat'>Clic llarg per animar</span>
    #timer
        canvas#circleTimer(width='60',height='60')
    #cursors
    #calendar
    #menu
        p(style='white-space:pre;')
            | 
        p
            a(href='javascript:void(0)')#infobut <span class='buthover'>-</span>---> INFO
        p
            a(href='javascript:void(0)')#downbut <span class='buthover'>-</span>---> DOWNLOAD
        #formats
            p(style='white-space:pre;')
                a(href='javascript:void(0)', target='_blank').formatSize      |<span class='buthover'>-</span>---> DIN A5
            p(style='white-space:pre;')
                a(href='javascript:void(0)', target='_blank').formatSize      |<span class='buthover'>-</span>---> DIN A4
            p(style='white-space:pre;')
                a(href='javascript:void(0)', target='_blank').formatSize      |<span class='buthover'>-</span>---> DIN A3
            p(style='white-space:pre;')
                a(href='javascript:void(0)', target='_blank').formatSize      |<span class='buthover'>-</span>---> DIN A2
            p(style='white-space:pre;')
                a(href='javascript:void(0)', target='_blank').formatSize      |<span class='buthover'>-</span>---> DIN A1

    #info
        .content.en
            p(style='white-space:pre;')
                | ┌────────────────────────────────────────────────┐
                | | Eina 50 Anys                                   |
                | └────────────────────────────────────────────────┘
            p
                | This is an interactive logo to commemorate the 50th Anniversary of Eina's Design Foundation in Barcelona:
            p
                | Starting on the day of Eina’s Foundation 50th anniversary ( September 20 2016 ) a new logo will be generated every day, 
                | in-eternum ( or until the server running this experience crashes… ) at 00h 00m 00s.The logo will consist of a random assortment of blocks.
                | Each of this blocks will contain a texture that may ( or may not ) be animated.
            p
                | Anytime during the day anyone can visit the interactive version of the logo ( currently 
                | located at http://proper-code.com/50anys ) and modify the logo's composition. Either changing the textures 
                | in each block ( by clicking on them ) or by deciding if this textures must be animated or not ( by long clicking on the blocks ).
            p
                | At 23h 59m 59s, the logo o f the day will be saved and a new one will be generated. Previously generated logos will be stored and can be seen by scrolling down on the page.
                | Each stored logo ( Not the current one! ) can be exported and downloaded for print on different sizes.
            p
                | The goals of this experience are:
            p
                |   0. Create an ongoing celebration of Eina’s Foundation anniversary
            p
                |   1. Make design a col.laborative experience where everyone can participate
            p
                |   2. Create an evolutionary logo that will morph over time  

        .content.cat
            p(style='white-space:pre;')
                | ┌────────────────────────────────────────────────┐
                | | Eina 50 Anys                                   |
                | └────────────────────────────────────────────────┘
            p
                | Logotip interactiu pel 50 aniversari de la Fundació Eina:
            p
                | Començant pel dia del 50 aniversario de la Fundació Eina i fins l'eternitat ( o fins que peti el servidor )
                | un nou logo es generarà cada dia a les 00h 00m 00s. El logo consisteix en una sèrie de blocs distribuïts de forma aleatòria. 
                | Cada bloc conté una textura que pot ser, (o no), animada.
            p
                | Durant la resta del dia tothom pot visitar la versió interactiva del logo i modificar la seva composició. 
                | Ja sigui modificant la textura de cada bloc ( fent click en els blocs ) o decidint si les textures son animades o no 
                | ( fent 'clic llarg' en els blocs ).
            p
                | Al final del dia, a les 23h 59m 59s, el logotip es guardarà i es generarà un de nou. Els logos generats quedaran enmagatzemats 
                | i es podran visitar per tal de veure la seva evolució fent scroll a la pàgina. Totes les versions anteriors del logo ( no la actual! ) 
                | es poden exportar per imprimir fent clic a 'download' i triant la mida.

            p
                | Els objectius d'aquesta experiència són:
            p
                |   1. Fer del disseny una experiència col.laborativa, a l’abast de tothom.
            p
                |   2. Fer un logo evolutiu que mostri el pas del temps.

    script(src='scripts/two.min.js')
    script(src='js/main.js')
    script.
        if( location.origin.indexOf( 'localhost' ) == -1 ){
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-45541930-1', 'auto');ga('send', 'pageview');
        }